.firstQuestion{
  input{
    border: 1px solid gray;
    box-shadow: none;
    height: 28px;
    width: 80%;
  }
  li{
    height: 20px;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    width: 80%;
  }
}